<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UrlDebug" value="http://www.baidu.com"/>
		<add key="UrlRelease" value="http://www.baidu.com"/>
		<add key="ExitPassWord" value="123456"/>
		<add key="MainPassWord" value="cis@info.cn"/>
		<add key="IsFirst" value="true"/>
	</appSettings>
</configuration>